/* hide the scroll bar */
html::-webkit-scrollbar {
  display: none;
}
/*  carousel indicator styles */
.corousel indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  
}
/*  carousel caption style */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  text-shadow: 2px 2px #000;

}
/*    rule for elements with the .input-group class */
.input-group{
  max-width: 300px;
  
}
/*  carousel caption style */
.carousel-caption {
  font-family: 'Arial', sans-serif;
}
/*  Sets the style for the text displayed in the carousel caption */
.carousel-caption h5 {
  /*  Sets the font family used for caption text */
  font-family: 'Verdana', sans-serif; 
}
/*  properties for card images  */
.card-img-top {
    max-width: 300px;
   height: auto;
}
/*  The .social-link class defines the style of social network icons in the footer */
.social-link {
  font-size: 24px;
  color: #fff;
}
/*  The .social-link class defines the style of social network icons in the footer */
.social-link:hover {
  color: #f1c40f;
}
/*  The .social-link:hover class defines the style of the icons when the mouse hovers over them */
footer {
  font-size: 14px;
}

